.parent {
  animation: animate 650ms linear 1;
  -webkit-animation: animate 650ms linear 1;
  animation-delay: 100ms;
}
.projItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem;
  background-color: #252525;
  row-gap: 2rem;
}
.projItem h1 {
  color: #ffb400;
  text-align: center;
  font-size: 2rem;
}
.projItem > div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  width: 100%;
  row-gap: 0.5rem;
}
.projItem > div:nth-child(2) p {
  flex-basis: 50%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.projItem > div:nth-child(2) p span {
  font-weight: 700;
}
.projItem > div:nth-child(2) p:last-child a {
  color: #ffb400;
}
.projItem > div:nth-child(2) p:nth-child(3) a,
.projItem > div:nth-child(2) p:last-child a {
  color: #ffb400;
  text-decoration: none;
}
.projItem > div:last-child {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  max-height: 420px;
}
.projItem > div:last-child img {
  width: 100%;
  min-height: 100%;
}
@media (min-width: 1300px) {
  .projItem > div:last-child {
    max-height: 850px;
  }
}
@media (max-width: 992px) {
  .projItem {
    padding: 1rem;
  }
}
@media (max-width: 580px) {
  .projItem h1 {
    font-size: 1.5rem;
  }
  .projItem > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }
  .projItem > div:nth-child(2) p > a {
    white-space: initial;
  }
}

@keyframes animate {
  from {
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
